// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  font-size: var(--general-font-size);
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.infomation {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.search-form {
  height: var(--searchbox-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  margin-right: 3px;
  height: var(--searchbox-height);
  width: var(--searchbox-width);
  border: 1px solid var(--searchbox-border-color);
  border-radius: var(--searchbox-radius);
  font-size: var(--searchbox-font-size);
  color: var(--searchbox-font-color);
  background-color: var(--searchbox-background-color);
}

::placeholder {
  color: #eaeaea;
}

.search-btn {
  margin-right: 2px;
  height: var(--searchbtn-height);
  width: var(--searchbtn-width);
  border: 1px solid var(--searchbtn-border-color);
  border-radius: var(--searchbtn-radius);
  background-color: var(--searchbtn-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn img {
  width: 12px;
  height: 12px;
  display: block;
}

.dl-btn img {
  width: 13px;
  height: 13px;
}

table {
  width: inherit;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  background-color: var(--background-color);
  border: var(--table-border);
  box-shadow: var(--table-shadow);
}

thead {
  background-color: var(--thead-background-color);
  font-size: var(--thead-font-size);
  border-bottom: var(--stack-line);
  color: var(--thead-font-color);
  margin-bottom: 0;
  padding: 8px 8px 0 8px;
}

td,
th {
  width: 150px;
  padding: 5px;
}

tbody td {
  border-bottom: var(--ruled-line);
  border-collapse: collapse;
}

thead > tr > td {
  color: var(--series-0-color);
}

#renderDiv > table > thead > tr > th {
  color: var(--thead-font-color);
  font-weight: var(--thead-font-weight);
}

thead > tr > th > .icon {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 9px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 8px 8px;
}

.filter-icon {
  margin-left: 2px;
  background-image: url(https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-filter2.svg);
}

.sort-icon {
  background-image: url(https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-sort2.svg);
}

tbody {
  background-color: var(--tbody-background-color);
  font-size: var(--tbody-font-size);
  color: var(--general-font-color);
  padding: 0px 8px;
}

thead,
tbody {
  display: block;
}

tbody tr td:hover {
  color: var(--emphasized-color);
}

.stack {
  border-right: var(--stack-line);
}

#pagenation {
  padding: var(--pagination-padding);
  display: flex;
  justify-content: var(--pagination-placement);
}

#pagenation ul {
  display: flex;
  padding: 0;
}

#pagenation li {
  color: var(--paginationbtn-font-color);
  background-color: var(--paginationbtn-background-color);
  border: var(--paginationbtn-border);
  border-bottom: var(--paginationbtn-border-bottom);
  border-radius: var(--paginationbtn-border-radius);
  margin: var(--paginationbtn-margin);// 4px;
  padding: var(--paginationbtn-padding);//4px;
  font-size: var(--paginationbtn-font-size);
}

#pagenation .first-btn,
#pagenation .previous-btn,
#pagenation .last-btn,
#pagenation .next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagenation .first-btn span,
#pagenation .previous-btn span {
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-color: transparent transparent var(--arrowbtn-color) var(--arrowbtn-color);
  transform: rotate(45deg);
}

#pagenation .last-btn span,
#pagenation .next-btn span {
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-color: var(--arrowbtn-color) var(--arrowbtn-color) transparent
    transparent;
  transform: rotate(45deg);
}

#pagenation .current-btn {
  color: var(--currentbtn-font-color);
  background-color: var(--currentbtn-background-color);
  border: var(--currentbtn-border);
  border-bottom: var(--currentbtn-border-bottom);
  border-radius: var(--currentbtn-border-radius);
  padding: var(--currentbtn-padding);
  margin: var(--currentbtn-margin);
}

.show-info {
  display: flex;
  justify-content: var(--showinfo-placement);
}

summary {
  display: none;
}
