@use '@/common.scss';
main {
  padding: 1rem 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  font-size: var(--general-font-size);
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.infomation {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-between;
}

.search-form {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  margin-right: 5px;
  height: 20px;
  width: 164px;
  border: 1px solid var(--series-0-color);
  border-radius: 3px;
  font-size: 10px;
  color: #c1c0c0;
}

::placeholder {
  color: #eaeaea;
}

.search-btn {
  margin-right: 2px;
  height: 20px;
  width: 20px;
  border: 1px solid var(--series-0-color);
  border-radius: 3px;
  background-color: var(--series-0-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn img {
  width: 12px;
  height: 12px;
  display: block;
}

.dl-btn img {
  width: 13px;
  height: 13px;
}

.table-fixed th:first-child, .table-fixed td:first-child {
  position: sticky;
  left: 0;
}

th:first-child, td:first-child {
  background-color: #fff;
}

table {
  width: inherit;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  background-color: var(--background-color);
  box-shadow: 1px 1px 3px 1px #eee;
}

thead {
  font-size: var(--thead-font-size);
  border-bottom: var(--stack-line);
  color: var(--thead-font-color);
  margin-bottom: 0;
  padding: 8px 8px 0 8px;
}

#renderDiv > table > thead > tr > th {
  color: var(--thead-font-color);
  font-weight: var(--thead-font-weight);
}

thead > tr > td {
  color: var(--series-0-color);
}

thead > tr > th > .icon {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 9px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center 5px;
  background-size: 8px 8px;
}

.filtericon {
  margin-left: 2px;
  background-image: url(https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-filter2.svg);
}

.sorticon {
  background-image: url(https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-sort2.svg);
}

.sorticon-des {
  background-image: url(../../assets/grey-sort2-des.svg);
}

.sorticon-asc {
  background-image: url(../../assets/grey-sort2-asc.svg);
}

tbody {
  font-size: var(--tbody-font-size);
  color: var(--general-font-color);
  padding: 0px 8px;
}

thead {
  display: block;
}

tbody {
  display: block;
}

tbody tr td:hover {
  color: var(--emphasized-color);
}

td, th {
  min-width: 150px;
  max-width: 150px;
  padding: 5px;
}

tbody td {
  border-bottom: var(--ruled-line);
  border-collapse: collapse;
}

.stack {
  border-right: var(--stack-line);
}

#pagenation {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

#pagenation ul {
  display: flex;
  font-size: var(--general-font-size);
  padding: 0;
}

#pagenation li {
  margin: 4px;
  padding: 4px;
}

#pagenation .first-btn, #pagenation .previous-btn, #pagenation .last-btn, #pagenation .next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagenation .first-btn span, #pagenation .previous-btn span {
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-color: transparent transparent var(--series-0-color) var(--series-0-color);
  transform: rotate(45deg);
}

#pagenation .last-btn span, #pagenation .next-btn span {
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-color: var(--series-0-color) var(--series-0-color) transparent transparent;
  transform: rotate(45deg);
}

#pagenation .current-btn {
  color: var(--series-0-color);
  border-bottom: 1px solid var(--series-0-color);
}

.show-info {
  display: flex;
  justify-content: center;
}
