<div class="main">
  <div id="tableInfo">
    <div class="float_left">
      Showing
      <span id="listStart"></span>
      ..
      <span id="listEnd"></span>
      of
      <span id="totalSize">
        entries
      </span>
    </div>
    <div class="float_right">
      Page size:
      <select id="pageSizeSelect"></select>
    </div>
  </div>
  <div id="paginationTop"></div>
  <div id="tableBody"></div>
  <div id="paginationBottom"></div>
</div>