.legend .label text {
  color: black;
  font-size: 0.5em;
}

svg .gridlines > .tick > line {
  stroke: var(--togostanza-grid-color);
  opacity: var(--togostanza-grid-opacity);
  stroke-width: var(--togostanza-grid-width);
  stroke-dasharray: var(--togostanza-grid-dash-length), var(--togostanza-grid-dash-length);
}
svg .gridlines > path.domain {
  display: none;
}
svg .bars rect {
  stroke-width: var(--togostanza-bars-border-width);
  stroke: var(--togostanza-bars-border-color);
}
svg .axis > .tick > line {
  stroke: var(--togostanza-tick-color);
  stroke-width: var(--togostanza-tick-width);
}
svg .axis > .tick > text {
  font-size: calc(var(--togostanza-label-font-size) * 1px);
  fill: var(--togostanza-label-font-color);
}
svg .axis > path {
  stroke: var(--togostanza-axis-color);
  stroke-width: var(--togostanza-axis-width);
}
svg .axis.title text {
  font-size: calc(var(--togostanza-title-font-size) * 1px);
  font-weight: var(--togostanza-title-font-weight);
  fill: var(--togostanza-title-font-color);
}
svg line.error-bar-line {
  stroke: var(--togostanza-errorbar-line-color);
  stroke-width: calc(var(--togostanza-errorbar-line-width) * 1px);
  opacity: var(--togostanza-errorbar-line-opacity);
}

main {
  background-color: var(--togostanza-background-color);
  border: calc(var(--togostanza-border-width) * 1px) solid var(--togostanza-border-color);
}