svg {
  background-color: var(--togostanza-background-color);
}

.label,
.node,
.link,
.active,
.fadeout,
.half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

.label {
  font-size: calc(var(--togostanza-label-font-size) * 1px);
  font-family: var(--togostanza-font-family);
  fill: var(--togostanza-label-font-color);
}

.node {
  fill: var(--togostanza-default-node-color);
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-border-width);
}

.link {
  stroke-opacity: var(--togostanza-edge-opacity);
  stroke-linecap: round;
  fill: none;
  stroke: var(--togostanza-default-edge-color);
}

.active > .node {
  stroke-width: calc(var(--togostanza-border-width) * 2.5px);
  stroke-opacity: 1;
}
.active > .link {
  stroke-opacity: 1;
}
.active > .label {
  opacity: 1;
}

.fadeout {
  opacity: 0.05;
}
.fadeout > .link {
  stroke-opacity: 0.05;
}

.half-active {
  opacity: 0.8;
}
.half-active > .node {
  stroke-width: calc(var(--togostanza-border-width) * 1.6px);
  stroke-opacity: 0.8;
}
.half-active > .label {
  opacity: 0.6;
}