main {
  font-family: var(--togostanza-font-family);
}

svg {
  background-color: var(--togostanza-background-color);
}

.label,
.node,
.link,
.group-plane,
.active,
.fadeout,
.half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

.label {
  font-size: calc(var(--togostanza-label-font-size) * 1px);
  fill: var(--togostanza-label-font-color);
}

.node {
  fill: var(--togostanza-default-node-color);
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-border-width);
}
.node.active {
  opacity: 1;
  stroke-width: calc(var(--togostanza-border-width) * 2.5px);
}
.node.half-active {
  stroke-opacity: 0.5;
  stroke-width: calc(var(--togostanza-border-width) * 1.5px);
}
.node.fadeout {
  opacity: 0.1;
}

.link {
  stroke-opacity: 0.25;
  stroke-linecap: round;
  stroke-width: 1px;
  fill: none;
  stroke: var(--togostanza-default-edge-color);
  pointer-events: none;
}
.link.dashed {
  stroke-dasharray: 2;
}
.link.active {
  stroke-opacity: 1;
}
.link.half-active {
  stroke-opacity: 1;
}
.link.fadeout {
  stroke-opacity: 0.01;
}

.group-plane {
  opacity: 0.05;
  stroke: var(--togostanza-border-color);
  stroke-linejoin: round;
  stroke-width: calc(var(--togostanza-border-width) * 1.5px);
  fill: var(--togostanza-default-plane-color);
  stroke-opacity: 0.2;
}
.group-plane.active {
  stroke-opacity: 0.1;
  opacity: 0.1;
  stroke-width: calc(var(--togostanza-border-width) * 4px);
}
.group-plane.half-active {
  stroke-opacity: 0.05;
  opacity: 0.05;
  stroke-width: calc(var(--togostanza-border-width) * 2.5px);
}
.group-plane.fadeout {
  opacity: 0.01;
}