* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main .container {
  column-count: var(--column-count);
  border: var(--table-border);
  box-shadow: var(--table-shadow);
  background-color: var(--table-background-color);
}
main .container dl {
  display: flex;
  padding: var(--row-padding);
  border-bottom: var(--tbody-border-bottom);
  break-inside: avoid-column;
}
main .container dl dt {
  width: var(--key-width-percentage);
  padding: 10px;
  color: var(--key-font-color);
  font-size: var(--key-font-size);
  font-weight: var(--key-font-weight);
}
main .container dl dd {
  width: calc(100% - var(--key-width-percentage));
  padding: 10px;
  color: var(--value-font-color);
  font-size: var(--value-font-size);
  font-weight: var(--value-font-weight);
}