main {
  padding: var(--togostanza-outline-padding);
  background-color: var(--togostanza-theme-background_color);
}
main .titles {
  font-family: var(--togostanza-fonts-font_family);
}
main .domain {
  color: var(--togostanza-domain-color);
}
main .tick {
  color: var(--togostanza-tick-color);
}
main .text {
  font-family: var(--togostanza-fonts-font_family);
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  color: var(--togostanza-fonts-font_color);
}
main .cell {
  border-radius: var(--togostanza-border-radius);
}
main .highlighted {
  stroke: var(--togostanza-hover-border-color);
}
main rect {
  stroke: var(--togostanza-border-color);
  stroke-width: calc(var(--togostanza-border-width) * 1px);
}