* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  font-family: var(--togostanza-font-family);
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.tableWrapper {
  overflow: auto;
  background-color: var(--togostanza-background-color);
}
.tableWrapper > table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  border: var(--togostanza-table-border);
  border-left: 0px none;
  border-right: 0px none;
  box-shadow: var(--togostanza-table-shadow);
}
.tableWrapper > table > thead {
  background-color: var(--togostanza-thead-background-color);
  font-size: var(--togostanza-thead-font-size);
  color: var(--togostanza-thead-font-color);
  margin-bottom: 0;
  border-bottom: var(--togostanza-thead-border-bottom);
}
.tableWrapper > table > thead > tr > th {
  color: var(--togostanza-thead-font-color);
  font-weight: var(--togostanza-thead-font-weight);
  background-color: var(--togostanza-thead-background-color);
  padding: 10px;
  position: sticky;
  top: -1px;
}
.tableWrapper > table > thead > tr > th.fixed {
  position: sticky;
  z-index: 20;
}
.tableWrapper > table > thead > tr > th:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tableWrapper > table > thead > tr > th:first-child {
  padding-left: 20px;
  padding-right: 20px;
}
.tableWrapper > table > tbody {
  font-size: var(--togostanza-tbody-font-size);
  color: var(--togostanza-tbody-font-color);
  border-right: var(--tbody-border-right);
  border-bottom: var(--togostanza-tbody-border-bottom);
  border-left: var(--tbody-border-left);
}
.tableWrapper > table > tbody > tr:nth-child(odd) {
  background-color: var(--togostanza-tbody-odd-background-color);
}
.tableWrapper > table > tbody > tr:nth-child(even) {
  background-color: var(--togostanza-tbody-even-background-color);
}
.tableWrapper > table > tbody > tr > td {
  font-size: var(--togostanza-tbody-font-size);
  border-bottom: var(--togostanza-tbody-border-bottom);
  border-collapse: collapse;
  padding: 10px;
}
.tableWrapper > table > tbody > tr > td.fixed {
  position: sticky;
  z-index: 10;
  background-color: var(--togostanza-background-color);
}
.tableWrapper > table > tbody > tr > td.center {
  text-align: center;
}
.tableWrapper > table > tbody > tr > td.right {
  text-align: right;
}
.tableWrapper > table > tbody > tr > td:first-child {
  padding-left: 20px;
}
.tableWrapper > table > tbody > tr > td:last-child {
  padding-right: 20px;
}
.tableWrapper > table > tbody > tr > td.loadingWrapper {
  text-align: center;
}
.tableWrapper > table > tbody > tr > td > span > a {
  color: var(--togostanza-tbody-font-color);
}
.tableWrapper > table > tbody > tr > td label {
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--togostanza-tbody-font-color);
}
.tableWrapper > table > tbody > tr > td input {
  display: none;
}
.tableWrapper > table > tbody > tr > td input:checked ~ label {
  display: block;
}
.tableWrapper > table > tbody > tr:last-of-type > td {
  border-bottom: none;
}

.dotTyping {
  position: relative;
  left: -9999px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--togostanza-tbody-font-color);
  box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  }
  16.667% {
    box-shadow: 9993px -5px 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  }
  33.333% {
    box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  }
  50% {
    box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px -5px 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  }
  66.667% {
    box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  }
  83.333% {
    box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px -5px 0 0 var(--togostanza-tbody-font-color);
  }
  100% {
    box-shadow: 9993px 0 0 0 var(--togostanza-tbody-font-color), 9999px 0 0 0 var(--togostanza-tbody-font-color), 10005px 0 0 0 var(--togostanza-tbody-font-color);
  }
}