text {
  font-size: calc(var(--togostanza-label-font-size) * 1px);
  fill: var(--togostanza-label-font-color);
}

#color-chips {
  list-style: none;
}
#color-chips > li {
  display: inline-block;
  width: 40px;
  height: 40px;
}