* {
  font-family: var(--togostanza-font-family);
  box-sizing: border-box;
}

.menu {
  display: flex;
}
.menu a {
  color: var(--togostanza-text-font-color);
}

table {
  display: block;
}
table tbody tr td {
  word-break: break-all;
  color: var(--togostanza-text-font-color);
  font-size: var(--togostanza-text-font-size);
  font-weight: var(--togostanza-text-font-weight);
}