text {
  font-size: calc(var(--togostanza-label-font-size) * 1px);
  fill: var(--togostanza-label-font-color);
}

#drawArea {
  font-family: var(--togostanza-font-family);
}

#venn-diagrams {
  width: 0;
  height: 0;
}

.venn-diagram {
  display: none;
}
.venn-diagram.-current {
  display: block;
}
.venn-diagram.-current > g {
  transition: opacity 0.2s;
}
.venn-diagram.-current > g:hover {
  opacity: 1;
}

#MetaStanzaLegend {
  padding: 3px 9px;
  position: absolute;
  font-size: 10px;
  line-height: 1.5;
  max-height: 100%;
  overflow-y: auto;
  color: var(--togostanza-label-font-color);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#MetaStanzaLegend > table > tbody > tr > td > .marker {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 0.3em;
}
#MetaStanzaLegend > table > tbody > tr > td.number {
  text-align: right;
}

#MetaStanzaLegendLeader {
  position: absolute;
  border-left: dotted 1px black;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}
#MetaStanzaLegendLeader[data-direction=top] {
  border-top: dotted 1px black;
}
#MetaStanzaLegendLeader[data-direction=bottom] {
  border-bottom: dotted 1px black;
}
#MetaStanzaLegendLeader.-show {
  opacity: 0.5;
}