// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';
@import "./@vueform/slider/themes/default.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

@mixin button {
  border: var(--togostanza-control-border);
  border-radius: 3px;
  background-color: var(--togostanza-thead-background-color);
  color: var(--togostanza-thead-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

@mixin text-input {
  width: 164px;
  height: 20px;
  border: var(--togostanza-control-border);
  border-radius: var(--togostanza-control-border-radius);
  font-size: var(--togostanza-control-font-size);
  color: var(--togostanza-control-font-color);
  &::placeholder {
    padding: 0px 0px 0px 4px;
    color: var(--searchbox-font-color);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--togostanza-control-font-color);
  font-family: var(--togostanza-font-family);
  font-size: var(--togostanza-control-font-size);
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.textSearchInput[type="text"] {
  margin-right: 3px;
  @include text-input;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: var(--togostanza-vertical-pagination-placement);
  > .tableOptionWrapper {
    min-height: 430px;
    > .tableOption {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0px 0px 10px 0px;
      > .entries {
        margin-left: auto;
        margin-right: 10px;
        font-size: var(--togostanza-control-font-color);
        select {
          border: var(--togostanza-control-border);
          border-radius: var(--togostanza-control-border-radius);
          height: 20px;
        }
      }
      > .menuWrapper {
        position: relative;
        line-height: 1;
        > .menuIcon {
          width: 16px;
          &:hover {
            cursor: pointer;
          }
        }
        > ul.menu {
          position: absolute;
          top: 24px;
          right: 0px;
          padding: 8px 14px;
          background: #ffffff;
          box-shadow: 0 2px 8px 0 rgb(0 0 0 / 20%);
          z-index: 3;
          list-style: none;
          > li {
            > .downloadBtn {
              white-space: nowrap;
              line-height: 24px;
              font-weight: bold;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: -10px;
            right: 3px;
            border: 5px solid rgba(255, 255, 255, 0);
            border-bottom: 5px solid #ffffff;
          }
        }
      }
    }
    > .tableWrapper {
      overflow: auto;
      min-height: 430px;
      background-color: var(--togostanza-background-color);
      > table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        margin: 0;
        border: var(--togostanza-table-border);
        border-left: 0px none;
        border-right: 0px none;
        box-shadow: var(--togostanza-table-shadow);
        > thead {
          background-color: var(--togostanza-thead-background-color);
          color: var(--togostanza-thead-font-color);
          margin-bottom: 0;
          border-bottom: var(--togostanza-thead-border-bottom);
          > tr {
            > th {
              color: var(--togostanza-thead-font-color);
              font-size: var(--togostanza-thead-font-size);
              font-weight: var(--togostanza-thead-font-weight);
              padding: 10px;
              white-space: nowrap;
              position: relative;
              &.fixed {
                position: sticky;
                z-index: 20;
              }
              &:first-child {
                background-color: var(--togostanza-thead-background-color);
                padding-left: 20px;
                padding-right: 20px;
              }
              > .filterWrapper {
                display: inline-block;
                position: relative;
                position: absolute;
                top: calc(var(--togostanza-thead-font-size) + 16px);
                left: 0;
                &.lastCol {
                  left: auto;
                  right: 0;
                }
                > div.filterWindow {
                  z-index: 3;
                  width: auto;
                  height: auto;
                  background-color: #ffffff;
                  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                  border-radius: var(--togostanza-control-border-radius);
                  > .filterWindowTitle {
                    padding: 4px 8px;
                    background-color: var(--togostanza-thead-background-color);
                    color: var(--togostanza-thead-font-color);
                  }
                  > ul.filters {
                    padding: 9px 8px;
                    margin: 9px 8px 6px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 3px;
                    max-height: 300px;
                    overflow: auto;
                    > li {
                      display: flex;
                      margin-bottom: 8px;
                      line-height: 1.4em;
                      > label {
                        display: flex;
                        align-items: center;
                        > input[type="checkbox"] {
                          margin-right: 6px;
                        }
                      }
                    }
                  }
                  > .toggleAllButton {
                    display: flex;
                    justify-content: center;
                    padding: 0 8px;
                    margin-bottom: 9px;
                    > button.selectAll,
                    > button.clear {
                      @include button;
                      padding: 3px 10px;
                      &:first-of-type {
                        margin-right: 4px;
                        width: 60%;
                      }
                      &:last-of-type {
                        width: 40%;
                      }
                    }
                  }
                }
              }
              > .textSearchByColumnWrapper {
                position: absolute;
                top: calc(var(--togostanza-thead-font-size) + 16px);
                left: 0;
                z-index: 3;
                background: #ffffff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                &.lastCol {
                  left: auto;
                  right: 0;
                }
                > p.title {
                  display: block;
                  padding: 6px 16px;
                  background-color: var(--togostanza-thead-background-color);
                  color: var(--togostanza-thead-font-color);
                }
                > input.textSearchInput[name="queryInputByColumn"] {
                  margin: 20px 30px;
                }
                .slider-base {
                  background-color: var(--togostanza-non-active-color);
                }
                #slider {
                  margin: 30px 40px 8px;
                  width: 230px;
                  .slider-connect {
                    background-color: var(--togostanza-control-active-color);
                  }
                }

                .slider-horizontal {
                  .slider-handle {
                    width: 14px;
                    height: 14px;
                    top: -5px;
                    background-color: var(--togostanza-control-active-color);
                  }
                }

                .rangeInput {
                  width: 242px;
                  margin: 0 34px 30px;
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;
                  > div {
                    > .rangeInputLabel {
                      font-size: 10px;
                      display: block;
                      margin-left: 2px;
                    }
                    > input[type="text"] {
                      @include text-input;
                      width: 100%;
                    }
                  }
                  > .dash {
                    width: 8px;
                    height: 1px;
                    background-color: var(--togostanza-control-font-color);
                    margin-left: 4px;
                    margin-right: 4px;
                    margin-bottom: 10px;
                  }
                }
              }
              &:last-of-type {
                > .filterWrapper {
                  > div.filterWindow {
                    left: auto;
                    right: 0px;
                  }
                }
              }
            }
            .icon {
              cursor: pointer;
              content: "";
              display: inline-block;
              width: var(--togostanza-control-font-size);
              height: var(--togostanza-control-font-size);
              transform: translateY(1px);
              path {
                color: var(--togostanza-non-active-color);
              }
              &.active {
                path {
                  color: var(--togostanza-control-active-color);
                }
              }
              &.search {
                margin-left: 1px;
                width: calc(var(--togostanza-control-font-size) - 1px);
                height: calc(var(--togostanza-control-font-size) - 1px);
              }
              &.filter {
                padding: 0 2px;
              }
              &.sort {
                display: var(--sorticon-display);
                position: relative;
              }
            }
            .icon.isShowing {
              z-index: 3;
              position: relative;
              background-color: var(--togostanza-thead-background-color);
              path {
                color: var(--togostanza-thead-font-color);
              }
            }
          }
        }
        > tbody {
          > tr {
            &:nth-child(odd) {
              background-color: var(--togostanza-tbody-odd-background-color);
            }
            &:nth-child(even) {
              background-color: var(--togostanza-tbody-even-background-color);
            }
            > td {
              border-bottom: var(--togostanza-tbody-border-bottom);
              border-collapse: collapse;
              padding: 10px;
              &.fixed {
                position: sticky;
                z-index: 10;
                background-color: var(--togostanza-background-color);
              }
              &.hide {
                display: none;
              }
              &.center {
                text-align: center;
              }
              &.right {
                text-align: right;
              }
              &:first-child {
                padding-left: 20px;
              }
              &:last-child {
                padding-right: 20px;
              }
              > span {
                font-size: var(--togostanza-tbody-font-size);
                color: var(--togostanza-tbody-font-color);
                font-weight: var(--togostanza-tbody-font-weight);
                > a {
                  font-size: inherit;
                  color: inherit;
                  font-weight: inherit;
                }
                .label {
                  cursor: pointer;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  color: var(--togostanza-tbody-font-color);
                }
                input {
                  display: none;
                }
                input:checked ~ .label {
                  display: block;
                }
              }
            }
            &:last-of-type {
              > td {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
  > .paginationWrapper {
    display: flex;
    flex-direction: var(--togostanza-vertical-pagination-placement);
    width: calc(100% - 30px);
    margin: 10px auto;
    > .serialPagination {
      display: flex;
      justify-content: var(--togostanza-horizonal-pagination-placement);
      align-items: stretch;
      > ul.paginationNumList {
        display: flex;
        padding: 0;
        > li.pagination {
          color: var(--togostanza-pagination-font-color);
          background-color: var(--togostanza-pagination-background-color);
          border-right: var(--togostanza-pagination-border);
          padding: var(--togostanza-pagination-padding);
          font-size: var(--togostanza-pagination-font-size);
          display: flex;
          align-items: center;
          &:hover {
            cursor: pointer;
            color: var(--togostanza-pagination-current-font-color);
            background-color: var(
              --togostanza-pagination-current-background-color
            );
          }
          &:first-of-type {
            border-top-left-radius: var(--togostanza-pagination-border-radius);
            border-bottom-left-radius: var(
              --togostanza-pagination-border-radius
            );
          }
          &:last-of-type {
            border-top-right-radius: var(--togostanza-pagination-border-radius);
            border-bottom-right-radius: var(
              --togostanza-pagination-border-radius
            );
            border-right: none;
          }
          &.currentBtn {
            color: var(--togostanza-pagination-current-font-color);
            background-color: var(
              --togostanza-pagination-current-background-color
            );
          }
        }
      }
      > .arrowWrapper {
        min-width: 30px;
        visibility: hidden;
        display: flex;
        align-items: center;
        &.show {
          visibility: visible;
        }
        > .arrow {
          display: inline-block;
          width: 15px;
          height: 15px;
          &.left {
            margin-right: 2px;
          }
          &.right {
            margin-left: 2px;
          }
          &:hover {
            cursor: pointer;
          }
          /* stylelint-disable-next-line no-descending-specificity */
          > path {
            color: var(--togostanza-pagination-arrow-color);
          }
        }
      }
      > .pageNumber {
        margin-left: 20px;
        > input[type="text"].jumpToNumberInput {
          border: var(--togostanza-pagination-current-border);
          border-radius: var(--togostanza-pagination-border-radius);
          width: 40px;
          height: 20px;
        }
      }
    }
    > #slider.pageSlider {
      height: 4px;
      margin: 0 auto;
      width: 100%;
      .slider-connects {
        background-color: #bbbbbb;
        /* stylelint-disable-next-line no-descending-specificity */
        .slider-connect {
          background-color: #bbbbbb;
        }
      }
      .slider-handle {
        > .slider-tooltip {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          bottom: auto;
          line-height: 1.3;
          color: var(--togostanza-pagination-current-font-color);
          background-color: var(
            --togostanza-pagination-current-background-color
          );
          border: var(--togostanza-pagination-border);
          padding: var(--togostanza-pagination-padding);
          font-size: var(--togostanza-pagination-font-size);
          border-radius: var(--togostanza-pagination-border-radius);
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

// transition
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  margin-top: -20px;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s, margin-top 0.4s;
}

.modal_bg-enter-from,
.modal_bg-leave-to {
  opacity: 0;
}

.modal_bg-enter-active,
.modal_bg-leave-active {
  transition: opacity 0.4s;
}
