<style>
  table {
      width: 100%;
  }
  td {
      padding: 5px 20px 5px 20px;
  }
</style>

<div class="container">
  <div class="infomation">
    <form class="search-form" action="#">
      <input
        class="search-box"
        type="text"
        placeholder="Serch for keywords..."
      />
      <button class="search-btn" type="submit">
        <img
          src="https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/white-search1.svg"
          alt="search"
        />
      </button>
    </form>
    <a class="dl-btn" href="#" download="#">
      <img
        src="https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-download1.svg"
        alt=""
      />
    </a>
  </div>
  <div id="renderDiv"></div>
</div>