// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  font: calc(var(--font-size) * 1px) var(--togostanza-font-family);
  > svg {
  }
}

.fullsircle {
  fill: none;
}

.ribbons {
  fill-opacity: .8;
  > path {
    mix-blend-mode: multiply;
  }
}

.arcs {
  > g {
    > text {
      > textPath {
        // font-size: 1rem;
        // stroke: red;
      }
    }
  }
}