<style>
  table {
      width: 100%;
  }
</style>

<div class="container">
  <div class="infomation">
    <div class="text-search-wrapper">
      <input
        type="text"
        id="search-input"
        placeholder="Search for keywords..."
      />
      <button id="search-btn" type="submit">
        <img
          src="https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/white-search1.svg"
          alt="search"
        />
        <span class="search-text">
          Search
        </span>
      </button>
    </div>
    <a id="download-btn" download="table-data">
      <img
        src="https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-download1.svg"
        alt="download"
      />
    </a>
  </div>
  <p class="table-title">
    Title of this Table
  </p>
  <div id="renderDiv"></div>
</div>

<div id="pagination">
  <ul>
    <li class="first-btn back-btn arrow-btn">
      <span></span>
      <span></span>
    </li>
    <li class="previous-btn back-btn arrow-btn">
      <span></span>
    </li>
    <li class="current-btn">
      1
    </li>
    <li>
      2
    </li>
    <li>
      3
    </li>
    <li>
      4
    </li>
    <li>
      …
    </li>
    <li>
      10
    </li>
    <li class="next-btn advance-btn arrow-btn">
      <span></span>
    </li>
    <li class="last-btn advance-btn arrow-btn">
      <span></span>
      <span></span>
    </li>
  </ul>
</div>
<p class="show-info">
  Showing 1 to 10 of 44 entres
</p>