// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  background-color: var(--togostanza-theme-background_color);
  height: var(--togostanza-outline-height);
}
