// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

#chart .slice {
  cursor: pointer;
}

#chart .slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

#chart .slice .hidden-arc {
  fill: none;
}

#chart .slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}
