// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  background-color: var(--togostanza-theme-background-color);
}

svg {
  background-color: var(--togostanza-background-color);
}

svg > defs > #arrow-default > path {
  fill: var(--togostanza-default-edge-color);
}

.label,
.node,
.link,
.active,
.fadeout,
.half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

.label {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  font-family: var(--togostanza-fonts-font_family);
  fill: var(--togostanza-fonts-font_color);
}

.node {
  fill: var(--togostanza-node-default_color);
  stroke: var(--togostanza-border-color);
  stroke-width: var(--togostanza-border-width);
}

.link {
  stroke-opacity: var(--togostanza-edge-opacity);
  stroke-linecap: round;
  fill: none;
  stroke: var(--togostanza-edge-default_color);
}

.active {
  & > .node {
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
    stroke-opacity: 1;
  }
  & > .link {
    stroke-opacity: 1;
  }
  & > .label {
    opacity: 1;
  }
}

.fadeout {
  opacity: 0.05;
  & > .link {
    stroke-opacity: 0.05;
  }
}

.half-active {
  opacity: 0.8;
  & > .node {
    stroke-width: calc(var(--togostanza-border-width) * 1.6px);
    stroke-opacity: 0.8;
  }

  & > .label {
    opacity: 0.6;
  }
}
