// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

//dl button style
svg#dl_button {
  position: absolute;
  &.dl-top-left {
    top: 20px;
    left: 40px;
  }
  &.dl-top-right {
    top: 20px;
    right: 40px;
  }
  &.dl-bottom-left {
    bottom: 20px;
    left: 40px;
  }
  &.dl-bottom-right {
    bottom: 20px;
    right: 40px;
  }
  &.dl-none {
    display: none;
  }
  .circle_g {
    cursor: pointer;
    opacity: 0.5;
  }
  .hover {
    opacity: 1;
  }
}

div#dl_list {
  width: fit-content;
  position: absolute;
  border: solid 1px #444444;
  background-color: #ffffff;
  font-size: 12px;
  font-family: var(--togostanza-font-family);
  &.dl-top-left {
    top: 40px;
    left: 50px;
  }
  &.dl-top-right {
    top: 40px;
    right: 50px;
  }
  &.dl-bottom-left {
    bottom: 40px;
    left: 50px;
  }
  &.dl-bottom-right {
    bottom: 40px;
    right: 50px;
  }
  &.dl-none {
    display: none;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      cursor: pointer;
      padding: 0px 10px 0px 10px;
      &.hover {
        background-color: #dddddd;
      }
    }
  }
}

#force-graph {
  position: relative;
}

.popper {
  &-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  }

  &-div {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.4;
    padding: 5px 9px;
  }

  &-arrow {
    width: 10px;
    height: 5px;
    background-color: rgb(230, 230, 230);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
