// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

.active {
  transition: all 0.1s ease-in-out;
}
.fadeout {
  transition: all 0.1s ease-in-out;
}
.half-active {
  transition: all 0.1s ease-in-out;
}

.label {
  transition: opacity 0.1s ease-in-out;
  font-size: calc(var(--togostanza-label-font-size) * 1px);
  fill: var(--togostanza-label-font-color);
}

.node {
  transition: all 0.1s ease-in-out;
}

.active {
  .node {
    stroke: gray !important;
    stroke-width: 5px !important;
    stroke-opacity: 0.7 !important;
  }
}
.fadeout {
  opacity: 0.1 !important;
}
.half-active {
  opacity: 0.8 !important;
  .node {
    stroke: gray !important;
    stroke-width: 3px !important;
    stroke-opacity: 0.2 !important;
  }
}

.link {
  transition: all 0.2s ease-in-out;
  &.active {
    stroke-opacity: 1 !important;
  }
  &.fadeout {
    stroke-opacity: 0.1 !important;
  }
}
