// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

* {
  font-family: var(--togostanza-font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  .container {
    column-count: var(--column-count);
    column-gap: 0;
    border: var(--togostanza-table-border);
    box-shadow: var(--togostanza-table-shadow);
    background-color: var(--table-background-color);
    dl {
      display: flex;
      padding: var(--row-padding);
      border-bottom: var(--togostanza-tbody-border-bottom);
      break-inside: avoid-column;
      dt {
        width: var(--key-width-percentage);
        padding: 10px;
        color: var(--togostanza-key-font-color);
        font-size: var(--togostanza-key-font-size);
        font-weight: var(--togostanza-key-font-weight);
      }
      dd {
        width: calc(100% - var(--key-width-percentage));
        padding: 10px;
        color: var(--togostanza-value-font-color);
        font-size: var(--togostanza-value-font-size);
        font-weight: var(--togostanza-value-font-weight);
      }
    }
  }
}
