// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  padding: var(--togostanza-outline-padding);
  background-color: var(--togostanza-theme-background_color);
  .titles {
    font-family: var(--togostanza-fonts-font_family);
  }
  .domain {
    color: var(--togostanza-domain-color);
  }
  .tick {
    color: var(--togostanza-tick-color);
  }
  .text {
    font-family: var(--togostanza-fonts-font_family);
    font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
    color: var(--togostanza-fonts-font_color);
  }
  .cell {
    border-radius: var(--togostanza-border-radius);
  }
  .highlighted {
    stroke: var(--togostanza-hover-border-color);
  }
  rect {
    stroke: var(--togostanza-border-color);
    stroke-width: calc(var(--togostanza-border-width) * 1px);
  }
}
