// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

#main .titles {
  font-family: var(--togostanza-font-family);
  font-weight: var(--togostanza-font-weight);
}
