// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  font-family: var(--togostanza-fonts-font_family);
}

svg {
  background-color: var(--togostanza-theme-background_color);
}

.label,
.node,
.link,
.group-plane,
.active,
.fadeout,
.half-active {
  transition: all 0.1s ease-in-out;
  transition-property: opacity, stroke-width, stroke-opacity;
}

.label {
  font-size: calc(var(--togostanza-fonts-font_size_primary) * 1px);
  fill: var(--togostanza-fonts-font_color);
}

.node {
  fill: var(--togostanza-node-default_color);

  stroke-width: var(--togostanza-border-width);
  &.active {
    opacity: 1;
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
  }
  &.half-active {
    stroke-opacity: 0.5;
    stroke-width: calc(var(--togostanza-border-width) * 1.5px);
  }
  &.fadeout {
    opacity: 0.1;
  }
}

.link {
  stroke-opacity: var(--togostanza-edge-opacity);
  stroke-linecap: round;
  stroke-width: 1px;
  fill: none;
  stroke: var(--togostanza-edge-default_color);
  pointer-events: none;

  &.dashed {
    stroke-dasharray: 2;
  }
  &.active {
    stroke-opacity: 1;
  }
  &.half-active {
    stroke-opacity: 1;
  }
  &.fadeout {
    stroke-opacity: 0.01;
  }
}

.group-plane {
  opacity: 0.05;
  stroke: var(--togostanza-border-color);
  stroke-linejoin: round;
  stroke-width: calc(var(--togostanza-border-width) * 1.5px);
  fill: var(--togostanza-group_plane-default_color);
  stroke-opacity: 0.2;
  &.active {
    stroke-opacity: 0.1;
    opacity: 0.1;
    stroke-width: calc(var(--togostanza-border-width) * 4px);
  }
  &.half-active {
    stroke-opacity: 0.05;
    opacity: 0.05;
    stroke-width: calc(var(--togostanza-border-width) * 2.5px);
  }
  &.fadeout {
    opacity: 0.01;
  }
}
