<style>
  *{
    font-family: var(--label-font);
    box-sizing: border-box;
  }
  table{
    width: 800px;
  }
  
  tr{
    border-bottom: 1px solid #999;
  }

  dl{
    border-bottom: 0.5px solid #999;
    margin: 0;
    padding: 10px 0 15px 0;
  }

  dt{
    color: var(--dt-font-color);
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
  }
  dd{
    color: var(--dd-font-color);
    font-size: 11px;
    margin-inline-start: 0px;
  }
</style>

<table>
  <tr>
    <td>
      <dl>
        <dt>
          Homozygous loss of function BRCA1 variant causing a Fanconi-anemia-like phenotype, a clinical report and review of previous patients.
        </dt>
        <dd>
          Freire B.L., Funari M.F.A., Homma T.K., Jorge A.A.L., Leal A.M., Lerario A.M., Malaquias A.C., Velloso E.D.R.P.
Eur. J. Med. Genet. 61 130-133 (2018-01-01T00:00:00+09:00) https://pubmed.ncbi.nlm.nih.gov/29133208
        </dd>
      </dl>
    </td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt>
          Homozygous loss of function BRCA1 variant causing a Fanconi-anemia-like phenotype, a clinical report and review of previous patients.
        </dt>
        <dd>
          Freire B.L., Funari M.F.A., Homma T.K., Jorge A.A.L., Leal A.M., Lerario A.M., Malaquias A.C., Velloso E.D.R.P.
Eur. J. Med. Genet. 61 130-133 (2018-01-01T00:00:00+09:00) https://pubmed.ncbi.nlm.nih.gov/29133208
        </dd>
      </dl>
    </td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt>
          Homozygous loss of function BRCA1 variant causing a Fanconi-anemia-like phenotype, a clinical report and review of previous patients.
        </dt>
        <dd>
          Freire B.L., Funari M.F.A., Homma T.K., Jorge A.A.L., Leal A.M., Lerario A.M., Malaquias A.C., Velloso E.D.R.P.
Eur. J. Med. Genet. 61 130-133 (2018-01-01T00:00:00+09:00) https://pubmed.ncbi.nlm.nih.gov/29133208
        </dd>
      </dl>
    </td>
  </tr>
</table>