<div class="container">
  {{#if html}}
    {{{html}}}
  {{/if}}
  {{#if text}}
    <table>
      <tbody>
        <tr>
          <td>
            {{text}}
          </td>
        </tr>
      </tbody>
    </table>
  {{/if}}
</div>