// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

@mixin button {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  font-family: var(--togostanza-font-family);
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.tableWrapper {
  overflow: auto;
  background-color: var(--togostanza-background-color);
  > table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0;
    border: var(--togostanza-table-border);
    border-left: 0px none;
    border-right: 0px none;
    box-shadow: var(--togostanza-table-shadow);
    > thead {
      background-color: var(--togostanza-thead-background-color);
      font-size: var(--togostanza-thead-font-size);
      color: var(--togostanza-thead-font-color);
      margin-bottom: 0;
      border-bottom: var(--togostanza-thead-border-bottom);
      > tr {
        > th {
          color: var(--togostanza-thead-font-color);
          font-weight: var(--togostanza-thead-font-weight);
          background-color: var(--togostanza-thead-background-color);
          padding: 10px;
          position: sticky;
          top: -1px;
          &.fixed {
            position: sticky;
            z-index: 20;
          }
          &:after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          &:first-child {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
    > tbody {
      font-size: var(--togostanza-tbody-font-size);
      color: var(--togostanza-tbody-font-color);
      border-right: var(--tbody-border-right);
      border-bottom: var(--togostanza-tbody-border-bottom);
      border-left: var(--tbody-border-left);
      > tr {
        &:nth-child(odd) {
          background-color: var(--togostanza-tbody-odd-background-color);
        }
        &:nth-child(even) {
          background-color: var(--togostanza-tbody-even-background-color);
        }
        > td {
          font-size: var(--togostanza-tbody-font-size);
          border-bottom: var(--togostanza-tbody-border-bottom);
          border-collapse: collapse;
          padding: 10px;
          &.fixed {
            position: sticky;
            z-index: 10;
            background-color: var(--togostanza-background-color);
          }
          &.center {
            text-align: center;
          }
          &.right {
            text-align: right;
          }
          &:first-child {
            padding-left: 20px;
          }
          &:last-child {
            padding-right: 20px;
          }
          &.loadingWrapper {
            text-align: center;
          }
          > span > a {
            color: var(--togostanza-tbody-font-color);
          }
          label {
            cursor: pointer;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            color: var(--togostanza-tbody-font-color);
          }
          input {
            display: none;
          }
          input:checked ~ label {
            display: block;
          }
        }
        &:last-of-type {
          > td {
            border-bottom: none;
          }
        }
      }
    }
  }
}

$dot-width: 4px;
$dot-color: var(--togostanza-tbody-font-color);
$dot-spacing: $dot-width * 1.5 !default;
$dot-before-color: $dot-color !default;
$dot-after-color: $dot-color !default;
$left-pos: -9999px;
$x1: -$left-pos - $dot-spacing;
$x2: -$left-pos;
$x3: -$left-pos + $dot-spacing;

@mixin dot {
  width: $dot-width;
  height: $dot-width;
  border-radius: 50%;
  background-color: $dot-color;
}

.dotTyping {
  position: relative;
  left: $left-pos;
  display: inline-block;
  @include dot;
  box-shadow: $x1 0 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
    $x3 0 0 0 $dot-after-color;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: $x1 0 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
      $x3 0 0 0 $dot-after-color;
  }

  16.667% {
    box-shadow: $x1 -5px 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
      $x3 0 0 0 $dot-after-color;
  }

  33.333% {
    box-shadow: $x1 0 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
      $x3 0 0 0 $dot-after-color;
  }

  50% {
    box-shadow: $x1 0 0 0 $dot-before-color, $x2 -5px 0 0 $dot-color,
      $x3 0 0 0 $dot-after-color;
  }

  66.667% {
    box-shadow: $x1 0 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
      $x3 0 0 0 $dot-after-color;
  }

  83.333% {
    box-shadow: $x1 0 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
      $x3 -5px 0 0 $dot-after-color;
  }

  100% {
    box-shadow: $x1 0 0 0 $dot-before-color, $x2 0 0 0 $dot-color,
      $x3 0 0 0 $dot-after-color;
  }
}
