//TogoGenome Venn diagram
#venn-diagrams {
  width: 0;
  height: 0;
}

.venn-diagram {
  display: none;
  &.-current {
    display: block;
  }
  &:hover {
    cursor: pointer;
    > * {
      opacity: .2;
    }
  }
  > g {
    &:hover {
      opacity: 1;
    }
  }
}

// #fixed {
//   position: relative;
//   .fixed-tooltip {
//     position: absolute;
//     background-color: #fff;
//     padding: 5px 10px;
//     border-radius: 2px;
//   }
// }
