// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

// common styles
* {
  margin: 0;
  font-family: "Arial", san-serif;
}

li {
  list-style: none;
}

h2 {
  margin-bottom: 10px;
}

// specific styles
main {
  padding: 1rem 2rem;
}

div#chart {
  position: relative;

  svg {
    cursor: crosshair;
  }
}

path {
  &.axis-line {
    stroke: black;
    stroke-width: 2px;
  }
  &.overthresh-line {
    stroke: #dddddd;
    stroke-width: 2px;
  }
}

text {
  &.axisLabel {
    font-size: 10px;
  }

  &.xLabel {
    text-anchor: middle;
    user-select: none;
  }

  &.yLabel {
    text-anchor: end;
    user-select: none;
  }
}

circle {
  &.ch_even {
    fill: var(--ch-even-color);
  }

  &.ch_odd {
    fill: var(--ch-odd-color);
  }

  &.ch_1 {
    fill: var(--ch-1-color);
  }

  &.ch_2 {
    fill: var(--ch-2-color);
  }

  &.ch_3 {
    fill: var(--ch-3-color);
  }

  &.ch_4 {
    fill: var(--ch-4-color);
  }

  &.ch_5 {
    fill: var(--ch-5-color);
  }

  &.ch_6 {
    fill: var(--ch-6-color);
  }

  &.ch_7 {
    fill: var(--ch-7-color);
  }

  &.ch_8 {
    fill: var(--ch-8-color);
  }

  &.ch_9 {
    fill: var(--ch-9-color);
  }

  &.ch_10 {
    fill: var(--ch-10-color);
  }

  &.ch_11 {
    fill: var(--ch-11-color);
  }

  &.ch_12 {
    fill: var(--ch-12-color);
  }

  &.ch_13 {
    fill: var(--ch-13-color);
  }

  &.ch_14 {
    fill: var(--ch-14-color);
  }

  &.ch_15 {
    fill: var(--ch-15-color);
  }

  &.ch_16 {
    fill: var(--ch-16-color);
  }

  &.ch_17 {
    fill: var(--ch-17-color);
  }

  &.ch_18 {
    fill: var(--ch-18-color);
  }

  &.ch_19 {
    fill: var(--ch-19-color);
  }

  &.ch_20 {
    fill: var(--ch-20-color);
  }

  &.ch_21 {
    fill: var(--ch-21-color);
  }

  &.ch_22 {
    fill: var(--ch-22-color);
  }

  &.ch_X {
    fill: var(--ch-Y-color);
  }

  &.ch_Y {
    fill: var(--ch-X-color);
  }

  &.over-thresh-plot {
    fill: var(--over-thresh-color);
    cursor: default;
  }
}

svg#dl_button {
  position: absolute;
  top: 0px;
  right: 0px;

  .circle_g {
    cursor: pointer;
    opacity: 0.2;
  }

  .hover {
    opacity: 1;
  }
}

div#dl_list {
  border: solid 1px #000000;
  position: absolute;
  top: 35px;
  right: 6px;
  width: fit-content;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    li {
      cursor: pointer;
      padding: 0px 10px 0px 10px;

      &.hover {
        background-color: #dddddd;
      }
    }
  }
}

#ctrl_button{
  input{
    background-color: #FFFFFF;
    border: 1px solid #99acb2;
    border-radius: 2px;
    margin-right: 1px;
    height: 20px;
  }
  #range_text{
    margin: 0px 4px 0px 2px;
  }
}

h2{
  font-size: 26pt;
  font-weight: 400;
  color: #000000
}

.info-section {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 60px;
  .datainfo-list {
    dt {
      color: #2f4d76;
      font-size: 14px;
    }
    dd {
      padding-bottom: 6px;
      font-size: 16px;
      position: relative;
      top: -3px;
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        li {
          margin-right: 10px
        }
      }
    }
  }
  .condition-list{
    li {
      font-size: 14px;
      span {
        font-size: 16px;
        color: #2f4d76;
      }
    }
  }
}

.table-section {
  margin-top: 60px;
  table {
    margin: 10px auto 0px 0px;
    border: var(--table-border);
    border-collapse: collapse;
    thead {
      height: 40px;
      color: var(--thead-font-color);
      background-color: var(--thead-background-color);
      font-size: var(--thead-font-size);
      border-bottom: var(--stack-line);
      margin-bottom: 0;
      padding: var(--thead-padding);
      tr 
        th {
          padding: 10px 20px;
          text-align: left;
        }
    }
    tbody {
      background-color: var(--tbody-background-color);
      tr 
        th {
          padding: 10px 20px;
          text-align: left;
        }
    }
    tr {
      height: 40px;
    }
    td {
      padding: 10px;
    }
  }
}
