// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

//Variables
$COLOR_WHITE: #ffffff;
$COLOR_GREY: #707070;
$COLOR_LIGHTGREY: #99acb2;
$COLOR_BLUE: #377cb5;
$COLOR_DARKBLUE: #2f4d76;
$COLOR_DISCOVERY: var(--discovery-color);
$COLOR_REPLICATION: var(--replication-color);
$COLOR_COMBINED: var(--combined-color);
$COLOR_META_ANARYSIS: var(--meta-analysis-color);
$COLOR_NOT_PROVIDED: var(--not-provided-color);
$BORDER: 1.5px solid $COLOR_LIGHTGREY;
$FONT_FAMILY: var(--font-family);

// common styles
* {
  margin: 0;
  font-family: $FONT_FAMILY;
}

main {
  padding: none !important;
  background-color: $COLOR_WHITE;
}
li {
  list-style: none;
}

h1 {
  padding: 15px 0px 12px 15px;
  font-size: 22px;
  font-weight: 400;
  color: $COLOR_DARKBLUE;
  background-color: #f2f5f7;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 12px;
  padding: 0px;
}

hr {
  height: 1px;
  background-color: $COLOR_GREY;
  border: none;
}

div#chart {
  position: relative;
  svg {
    cursor: crosshair;
  }
}

path {
  &.axis-line {
    stroke: black;
    stroke-width: 1px;
  }
  &.overthresh-line {
    stroke: #dddddd;
    stroke-width: 2px;
  }
  &.slider-line {
    stroke: $COLOR_LIGHTGREY;
    stroke-width: 1px;
  }
  &.background-fill {
    stroke: red;
  }
}

text {
  &.axisLabel {
    font-size: 12px;
  }

  &.xLabel {
    text-anchor: middle;
    user-select: none;
  }

  &.yLabel {
    text-anchor: end;
    user-select: none;
  }

  &.sliderLabel {
    text-anchor: middle;
    user-select: none;
  }

  &.axis-title {
    user-select: none;
    color: #000000;
    font-size: 14px;
  }
}

circle {
  &.discovery {
    fill: $COLOR_DISCOVERY;
  }
  &.replication {
    fill: $COLOR_REPLICATION;
  }
  &.combined {
    fill: $COLOR_COMBINED;
  }
  &.meta-analysis {
    fill: $COLOR_META_ANARYSIS;
  }
  &.not-provided {
    fill: $COLOR_NOT_PROVIDED;
  }
  &.over-thresh-plot {
    // fill: var(--over-thresh-color);
    cursor: default;
  }
}

svg#dl_button {
  display: none;
  position: absolute;
  top: -58px;
  right: 0px;

  .circle_g {
    cursor: pointer;
    opacity: 0.2;
  }

  .hover {
    opacity: 1;
  }
}

svg#slider_container {
  margin-bottom: 14px;
  .info-key {
    display: inline-block;
    color: $COLOR_LIGHTGREY;
    font-size: 14px;
    font-weight: 600;
  }
}

.tooltip {
  box-sizing: border-box;
  position: absolute;
  padding: 12px;
  width: 170px;
  height: 120px;
  background: #f6f6f6;
  border: $BORDER;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  .tooltip-chr {
    color: $COLOR_DARKBLUE;
    font-size: 14px;
  }
  .tooltip-info {
    padding: 0px;
    li {
      font-size: 12px;
      color: #000000;
      .tooltip-key {
        color: $COLOR_LIGHTGREY;
      }
    }
  }
}

.info-section {
  padding: 20px 30px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .datainfo-list {
    .info-key {
      display: inline-block;
      color: $COLOR_LIGHTGREY;
      font-size: 14px;
      font-weight: 600;
      &.first-condition-name {
        display: inline-block;
        position: relative;
        top: -3px;
      }
      &.second-condition-name {
        display: inline-block;
        position: relative;
        top: -3px;
      }
    }
    dd {
      padding-bottom: 6px;
      font-size: 16px;
      position: relative;
      top: -3px;
      &.first-condition-value {
        display: inline-block;
        padding: 0px 20px 0px 0px;
      }
      &.second-condition-value {
        display: inline-block;
        padding: 0px;
      }
    }
  }
}

div#dl_list {
  border: solid 1px #000000;
  position: absolute;
  top: 35px;
  right: 6px;
  width: fit-content;
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      cursor: pointer;
      padding: 0px 10px 0px 10px;
      &.hover {
        background-color: #dddddd;
      }
    }
  }
}

.chart-section {
  width: 800px;
  padding: 20px 30px;
  table {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    border-collapse: collapse;
    tbody {
      tr {
        font-size: 12px;
        td {
          padding: 0px 24px 0px 0px;
          &.info-key {
            display: inline-block;
            width: 75px;
            text-align: right;
            margin-top: -1px;
            padding-right: 12px;
            color: $COLOR_LIGHTGREY;
            font-size: 12px;
            font-weight: 600;
          }
          &:last-child {
            padding: 0px;
          }
          &.condition-key {
            color: $COLOR_GREY;
          }
          input {
            margin: 3px 6px 0px 0px;
            display: none;
            + label {
              box-sizing: border-box;
              margin-top: 2px;
              height: 18px;
              font-size: 12px;
              color: $COLOR_LIGHTGREY;
              padding: 1px 8.5px;
              border: $BORDER;
              border-radius: 4px;
              background-color: $COLOR_WHITE;
              &:before {
                content: "− ";
              }
            }
            &:checked + label {
              padding: 2px 10px;
              color: $COLOR_WHITE;
              border: none;
              &:before {
                content: "+ ";
              }
              &[data-stage="discovery"] {
                background-color: $COLOR_DISCOVERY;
              }
              &[data-stage="replication"] {
                background-color: $COLOR_REPLICATION;
              }
              &[data-stage="combined"] {
                background-color: $COLOR_COMBINED;
              }
              &[data-stage="meta-analysis"] {
                background-color: $COLOR_META_ANARYSIS;
              }
              &[data-stage="not-provided"] {
                background-color: $COLOR_NOT_PROVIDED;
              }
            }
          }
        }
      }
    }
  }
}

.table-section {
  width: 800px;
  padding: 20px 30px;
  .table-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    height: 16px;
    .total-overthresh-variants {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      .info-key {
        display: inline-block;
        color: $COLOR_LIGHTGREY;
        font-size: 14px;
        font-weight: 600;
        margin-right: 6px;
      }
      .info-value {
        display: inline-block;
      }
    }
  }
  .pagination {
    table {
      width: 800px;
      margin: 10px auto 0px 0px;
      border: $BORDER;
      border-collapse: collapse;
      thead {
        height: 40px;
        color: var(--thead-font-color);
        background-color: var(--thead-background-color);
        font-size: var(--thead-font-size);
        border-bottom: $BORDER;
        margin-bottom: 0;
        padding: 8px 8px 0 8px;
        tr {
          height: 40px;
          th {
            padding: 10px 20px;
            text-align: left;
          }
        }
      }
      tbody {
        background-color: var(--tbody-odd-background-color);
        tr {
          height: 40px;
          &:nth-last-of-type(odd) {
            background-color: var(--tbody-even-background-color);
          }
          td {
            padding: 10px 20px;
            text-align: left;
            border-left: 0.5px solid #d2dae2;
            font-size: var(--tbody-font-size);
            &:first-of-type {
              border-left: none;
            }
          }
        }
      }
    }
    .pagination-block {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      cursor: pointer;
      .page-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -0.5px;
        width: 30px;
        height: 32px;
        color: $COLOR_LIGHTGREY;
        background-color: #f9f9f9;
        border: $BORDER;
      }
      .page-number {
        display: flex;
        .page-btn {
          display: flex;
          width: 30px;
          height: 32px;
          &.current {
            color: $COLOR_WHITE;
            background-color: $COLOR_BLUE;
          }
        }
      }
    }
  }
}

#ctrl_button {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    background-color: $COLOR_WHITE;
    border: $BORDER;
    border-radius: 2px;
    margin-right: 1px;
    height: 20px;
  }
  #range_text {
    margin: 0px 4px 0px 2px;
    font-size: 14px;
    color: $COLOR_DARKBLUE;
    font-weight: 600;
  }
  .info-key {
    display: inline-block;
    margin-right: 6px;
    color: $COLOR_LIGHTGREY;
    font-size: 14px;
    font-weight: 600;
    .threshold-input {
      width: 60px;
      height: 18px;
      padding: 0px 5px 0px 0px;
      margin: 0px;
      border: $BORDER;
      border-radius: 2px;
      text-align: right;
    }
    &.-threshold {
      margin-left: 40px;
    }
  }
}
