<h1 id="manhattan-title">
  GWAS Study View
</h1>

<section class="info-section">
  <dl class="datainfo-list">
    <dt id="study-name" class="info-key">
      study name
    </dt>
    <dd>
      {{study_name}}
    </dd>
    <dt id="project-name" class="info-key">
      project name
    </dt>
    <dd>
      {{project_name}}
    </dd>
  </dl>
</section>

<hr />

<section class="chart-section">
  <h2>
    Manhattan Plot
  </h2>
  <table>
    <tbody>
      <tr id="stageList">
        <td class="info-key">
          Stages:
        </td>
      </tr>
      <tr id="firstConditionList">
        <td class="info-key">
          Condition1:
        </td>
      </tr>
      <tr id="secondConditionList">
        <td class="info-key">
          Condition2:
        </td>
      </tr>
    </tbody>
  </table>
  <div id="chart"></div>
  <div id="control"></div>
</section>

<hr />

<section class="table-section">
  <h2>
    Top Loci
  </h2>
  <div id="table"></div>
</section>