<h1 id="manhattan-title">
  GWAS Study View
</h1>

<section class="info-section">
  <dl class="datainfo-list">
    <dt id="study-name" class="info-key">
      study name
    </dt>
    <dd>
      {{study_name}}
    </dd>
    <dt id="project-name" class="info-key">
      project name
    </dt>
    <dd>
      {{project_name}}
    </dd>
    <dt id="firstCondition" class="info-key first-condition-name">
      condition1:
    </dt>
    <dd class="first-condition-value">
      &ensp;{{condition1}}
    </dd>
    <dt id="secondCondition" class="info-key second-condition-name">
      condition2:
    </dt>
    <dd class="second-condition-value">
      &ensp;{{condition2}}
    </dd>
  </dl>
</section>

<hr />

<section class="chart-section">
  <h2>
    Manhattan Plot
  </h2>
  <dl>
    <dt id="stage-name" class="info-key">
      stages:
    </dt>
    <dd>
      <ul id="stageList">
      </ul>
    </dd>
  </dl>
  <div id="chart"></div>
  <div id="control"></div>
</section>

<hr />

<section class="table-section">
  <h2>
    Top Loci
  </h2>
  <div id="table"></div>
</section>