<h1 id="manhattan-title">
  GWAS Study View
</h1>

<section class="info-section">
  <dl class="datainfo-list">
    <dt id="study-name" class="info-key">
      study name:
    </dt>
    <dd>
      {{studyName}}
    </dd>
    <dt id="project-name" class="info-key">
      project name:
    </dt>
    <dd>
      {{projectName}}
    </dd>
  </dl>
</section>

<hr />

<section class="chart-section">
  <h2>
    Manhattan Plot
  </h2>
  <table>
    <tbody>
      <tr id="stageList">
        <td class="info-key">
          Stages:
        </td>
      </tr>
      <tr id="firstConditionList">
        <td class="info-key">
          Condition1:
        </td>
      </tr>
      <tr id="secondConditionList">
        <td class="info-key">
          Condition2:
        </td>
      </tr>
    </tbody>
  </table>
  <div id="chart"></div>
  <div id="control"></div>
</section>

<hr />

<section class="table-section">
  <div class="table-info">
    <div class="table-title">
      <h2>
        Top Loci
      </h2>
      <p>
        Only variants with are greater than or equal to the threshold are
        displayed.
      </p>
    </div>
    <dl class="total-overthresh-variants">
      <dt class="info-key">
        Total Variants:
      </dt>
      <dd id="totalOverThreshVariants" class="info-value"></dd>
    </dl>
  </div>
  <div class="pagination">
    <table>
      <thead id="listingTableHead">
        <tr>
          <th>
            Gene name
          </th>
          <th>
            rsId
          </th>
          <th>
            Chromosome
          </th>
          <th>
            position
          </th>
          <th>
            Ref
          </th>
          <th>
            Alt
          </th>
          <th>
            P-value
          </th>
        </tr>
      </thead>
      <tbody id="listingTable">
      </tbody>
    </table>
    <div class="pagination-block">
      <span class="page-btn" id="firstBtn">
        &lt;&lt;
      </span>
      <span class="page-btn" id="prevBtn">
        &lt;
      </span>
      <span class="page-number" id="pageNumber"></span>
      <span class="page-btn" id="nextBtn">
        &gt;
      </span>
      <span class="page-btn" id="lastBtn">
        &gt;&gt;
      </span>
    </div>
  </div>
</section>