<style>
  *{
    font-family: "Helvetica Nune";
    box-sizing: border-box;
  }
  table{
    width: 800px;
    align: left;
    border-collapse: collapse;
  }
  thead{
    background-color :var(--basic-fill-color);
    font-weight: bold;
    font-size: 12px;
    border:1px solid #999;
  }
  tbody,td,tr{
    font-size: 10px;
    padding:8px 5px;
  }
  td{
    border:1px solid #999;
    border-collapse: collapse;
  }

</style>

<table>
  <thead>
    <tr>
      <td>Original source</td>
      <td>Organism name</td>
      <td>Taxonomy ID</td>
      <td>Isolation</td>
      <td>Environments</td>
    </tr>    
  </thead>
  <tbody>
    <tr>
      <td>NBRC 14436</td>
      <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
      <td>NBRC 14436</td>
      <td>Hot spring sediments in Nozawa, Japan</td>
      <td>hot spring,  spring sediment</td>
    </tr>
    <tr>
      <td>NBRC 14436</td>
      <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
      <td>NBRC 14436</td>
      <td>Hot spring sediments in Nozawa, Japan</td>
      <td>hot spring,  spring sediment</td>
    </tr>
    <tr>
      <td>NBRC 14436</td>
      <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
      <td>NBRC 14436</td>
      <td>Hot spring sediments in Nozawa, Japan</td>
      <td>hot spring,  spring sediment</td>
    </tr>
    <tr>
      <td>NBRC 14436</td>
      <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
      <td>NBRC 14436</td>
      <td>Hot spring sediments in Nozawa, Japan</td>
      <td>hot spring,  spring sediment</td>
    </tr>
  </tbody>
</table>

{{!-- // stanza.html.bhs --}}
{{!-- <p>{{greeting}}</p> --}}
{{!-- <table>
    <tr>
        {{#each table.header}}
        <th>{{this}}</th>
        {{/each}}
    </tr>
        {{#each table.data}}
    <tr>
        {{#each col}}
        <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
</table> --}}