<div class="chart-wrapper">
  {{#each scorecards as |scorecard|}}
    <svg class="scorecard-svg">
      <text
        x="30"
        y="30"
        font-family="var(--font-family)"
        fill="var(--key-font-color)"
        font-size="var(--key-font-size)"
        font-weight="var(--key-font-weight)"
      >
        {{scorecard.key}}
      </text>
      <text
        x="30"
        y="70"
        font-family="var(--font-family)"
        fill="var(--value-font-color)"
        font-size="var(--value-font-size)"
        font-weight="var(--value-font-weight)"
      >
        {{scorecard.value}}
      </text>
    </svg>
  {{/each}}
</div>