<div class="chart-wrapper">
  {{#each scorecards as |scorecard|}}
    <svg class="scorecard-svg">
      <text
        id="scorecardKey"
        text-anchor="middle"
        font-family="var(--togostanza-font-family)"
        fill="var(--togostanza-key-font-color)"
        font-weight="var(--togostanza-key-font-weight)"
      >
        {{scorecard.key}}
      </text>
      <text
        id="scorecardValue"
        text-anchor="middle"
        font-family="var(--togostanza-font-family)"
        fill="var(--togostanza-value-font-color)"
        font-weight="var(--togostanza-value-font-weight)"
      >
        {{scorecard.value}}
      </text>
    </svg>
  {{/each}}
</div>