// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

section {
  display: flex;
}
* {
  font-family: var(--togostanza-font-family);
  font-size: var(--togostanza-font-size);
  color: var(--togostanza-font-color);
}

#wrapper {
  > .container {
    background-color: var(--togostanza-node-background-color);
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    > .column {
      display: grid;
      min-width: max-content;
      height: fit-content;
      > .node {
        display: flex;
        justify-content: space-between;
        border-radius: 0.2rem;
        padding: 0 0.2rem;
        &:hover {
          background-color: var(--togostanza-hover-background-color) !important;
          color: var(--togostanza-hover-text-color) !important;
          cursor: pointer;
          > svg > path {
            color: var(--togostanza-hover-text-color);
          }
        }
        > input[type="checkbox"] {
          margin-right: 2rem;
        }
        &.content {
          display: flex;
          width: 100%;
          justify-content: space-between;
          > .icon {
            width: calc(var(--togostanza-font-size) * 0.6);
            padding-left: 2rem;
          }
          &.-highlighted {
            background-color: var(--togostanza-selected-background-color);
            color: var(--togostanza-selected-text-color);
            > svg > path {
              color: var(--togostanza-selected-text-color);
            }
          }
        }
      }
    }
  }
}
