// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  .container {
    display: flex;
    flex-wrap: wrap;
    border: var(--table-border);
    box-shadow: var(--table-shadow);
    dl {
      display: flex;
      width: 50%;
      padding: var(--row-padding);
      border-bottom: var(--ruled-line);
      dt {
        width: var(--key-width-percentage);
        padding: 10px;
        color: var(--key-font-color);
        font-size: var(--key-font-size);
        font-weight: var(--key-font-weight);
      }
      dd {
        width: calc(100% - var(--key-width-percentage));
        padding: 10px;
        color: var(--value-font-color);
        font-size: var(--value-font-size);
        font-weight: var(--value-font-weight);
      }
    }
  }
}
