@font-face {
  font-family: "fontello";
  src: url("fontello.eot");
  src: url("fontello.eot") format("embedded-opentype"),
    url("fontello.woff") format("woff"), url("fontello.ttf") format("truetype"),
    url("fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "fontello", sans-serif;
}
