// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

svg {
  background-color: var(--togostanza_theme_background-color);

  text.label {
    font-family: var(--togostanza_fonts_font-family);
    font-size: calc(var(--togostanza_fonts_font-size-secondary) * 1px);
    fill: var(--togostanza_fonts_font-color);
  }

  path.link {
    pointer-events: none;
  }

  rect.node {
    cursor: pointer;
    fill: var(--togostanza_theme_series-0-color);
    stroke: var(--togostanza_border_color);
    stroke-width: 0.5px;
  }

  text.label,
  path.link,
  rect.node {
    transition: opacity 0.2s ease-in-out;
  }

  path.link {
    opacity: 0.5;
  }
}

.fadeout {
  opacity: 0.05;
  transition: opacity 0.2s ease-in-out;
}
