// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';
// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}
p.greeting {
  margin: 0;
  font-size: 24px;
  color: var(--greeting-color);
  text-align: var(--greeting-align);
}
summary {
  display: none;
}
*{
  font-family: var(--label-font);
  box-sizing: border-box;
}
table{
  width: var(--text-width);
  dl{
    margin: 0;
    padding: 10px 0 15px 0;
    border-bottom: var(--row-border-bottom);
    dt{
      color: var(--dt-font-color);
      font-size: var(--dt-font-size);
      font-weight: var(--dt-font-weight);
      line-height: var(--dt-line-height);
      margin-bottom: var(--dt-margin-bottom);
    }
    dd{
      color: var(--dd-font-color);
      font-size: var(--dd-font-size);
      font-weight: var(--dd-font-weight);
      line-height: var(--dd-line-height);
      margin-inline-start: 0px;
    }
  }
}