// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

.menu {
  display: flex;
  a {
    color: var(--text-font-color);
  }
}

table {
  display: block;
  border: var(--text-border);
  tbody {
    tr {
      td {
        word-break: break-all;
        color: var(--text-font-color);
        font-size: var(--text-font-size);
        font-weight: var(--text-font-weight);
      }
    }
  }
}
