// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

* {
  font-family: var(--togostanza-font-family);
  box-sizing: border-box;
}

.container {
  display: flex;
  .menu {
    display: flex;
    padding: 5px;
    a {
      color: var(--togostanza-text-font-color);
    }
  }
  table {
    display: block;
    tbody {
      tr {
        td {
          word-break: break-all;
          color: var(--togostanza-text-font-color);
          font-size: var(--togostanza-text-font-size);
          font-weight: var(--togostanza-text-font-weight);
        }
      }
    }
  }
}
