// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';
@import "./@vueform/slider/themes/default.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.

@mixin button {
  border: 1px solid var(--searchbtn-border-color);
  border-radius: var(--searchbtn-radius);
  background-color: var(--searchbtn-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

main {
  padding: 1rem 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  font-size: var(--general-font-size);
}

#renderDiv {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
}

.paginationWrapper {
  > .serialPagination {
    padding: var(--pagination-padding);
    display: flex;
    justify-content: var(--pagination-placement);
    align-items: center;
    > ul.paginationNumList {
      display: flex;
      padding: 0;
      > li.pagination {
        color: var(--paginationbtn-font-color);
        background-color: var(--paginationbtn-background-color);
        border-right: var(--paginationbtn-border);
        padding: var(--paginationbtn-padding);
        font-size: var(--paginationbtn-font-size);
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
          color: var(--currentbtn-font-color);
          background-color: var(--currentbtn-background-color);
        }
        &:first-of-type {
          border-top-left-radius: var(--paginationbtn-border-radius);
          border-bottom-left-radius: var(--paginationbtn-border-radius);
        }
        &:last-of-type {
          border-top-right-radius: var(--paginationbtn-border-radius);
          border-bottom-right-radius: var(--paginationbtn-border-radius);
          border-right: none;
        }
        &.currentBtn {
          color: var(--currentbtn-font-color);
          background-color: var(--currentbtn-background-color);
        }
      }
    }
    > .arrowWrapper {
      min-width: 30px;
      visibility: hidden;
      &.show {
        visibility: visible;
      }
      > .arrow {
        display: inline-block;
        width: 7px;
        min-width: 7px;
        height: 7px;
        border: 1px solid;
        border-color: transparent transparent var(--arrowbtn-color)
          var(--arrowbtn-color);
        transform: rotate(45deg);
        margin: 0 2px 0 6px;
        &.right {
          transform: rotate(-135deg);
          margin: 0 6px 0 2px;
        }
        &.double {
          position: relative;
          &:after {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            border: 1px solid;
            border-color: transparent transparent var(--arrowbtn-color)
              var(--arrowbtn-color);
            transform: rotate(0deg);
            top: 30%;
            left: -80%;
            position: absolute;
            box-sizing: border-box;
          }
          &.right:after {
            transform: rotate(0deg);
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    > .pageNumber {
      margin-left: 20px;
      > input[type="text"].jumpToNumberInput {
        width: 40px;
        height: var(--searchbox-height);
        border: 1px solid var(--searchbox-border-color);
        border-radius: var(--searchbox-radius);
        font-size: var(--searchbox-font-size);
        color: var(--searchbox-font-color);
        background-color: var(--searchbox-background-color);
        &::placeholder {
          padding: 0px 0px 0px 4px;
          color: var(--searchbox-font-color);
        }
      }
      > button {
        @include button;
        display: inline-block;
        margin-left: 3px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .pageSlider {
    height: 4px;
    margin-top: -5px;
    .slider-connects {
      background-color: #bbbbbb;
      .slider-connect {
        background-color: #bbbbbb;
      }
    }
    .slider-handle {
      > .slider-tooltip {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: auto;
        line-height: 1.3;
        color: var(--currentbtn-font-color);
        background-color: var(--currentbtn-background-color);
        border: var(--paginationbtn-border);
        padding: var(--paginationbtn-padding);
        font-size: var(--paginationbtn-font-size);
        border-radius: var(--paginationbtn-border-radius);
        &:before {
          display: none;
        }
      }
    }
  }
}

.tableOption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: var(--information-margin);
  > .downloadBtn {
    > img {
      width: var(--dlbtn-img-width);
      height: var(--dlbtn-img-height);
    }
  }
}

.textSearchWrapper {
  height: var(--searchbox-height);
  display: flex;
  justify-content: center;
  align-items: center;
  > input[type="text"] {
    margin-right: 3px;
    height: var(--searchbox-height);
    width: var(--searchbox-width);
    border: 1px solid var(--searchbox-border-color);
    border-radius: var(--searchbox-radius);
    font-size: var(--searchbox-font-size);
    color: var(--searchbox-font-color);
    background-color: var(--searchbox-background-color);
    &::placeholder {
      padding: 0px 0px 0px 4px;
      color: var(--searchbox-font-color);
    }
  }
  > .searchBtn {
    @include button;
    margin-right: 2px;
    height: var(--searchbtn-height);
    width: var(--searchbtn-width);
    > img {
      width: var(--searchbtn-img-width);
      height: var(--searchbtn-img-height);
      display: var(--searchimg-display); //block;
    }
  }
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  &.black {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin: 0;
  background-color: var(--background-color);
  border: var(--table-border);
  box-shadow: var(--table-shadow);
  > thead {
    background-color: var(--thead-background-color);
    font-size: var(--thead-font-size);
    color: var(--thead-font-color);
    margin-bottom: 0;
    border-top: var(--thead-border-top);
    border-right: var(--thead-border-right);
    border-left: var(--thead-border-left);
    border-bottom: var(--thead-border-bottom);
    > tr {
      > th {
        color: var(--thead-font-color);
        font-weight: var(--thead-font-weight);
        padding: 10px;
        white-space: nowrap;
        &:first-child {
          background-color: var(--thead-background-color);
          padding-left: 20px;
          padding-right: 20px;
        }
        > .filterWrapper {
          display: inline-block;
          position: relative;
          > div.filterWindow {
            position: absolute;
            top: 2px;
            left: -22px;
            z-index: 3;
            width: auto;
            height: auto;
            background-color: #ffffff;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: var(--searchbox-radius);
            > .filterWindowTitle {
              padding: 4px 8px;
              background-color: var(--thead-font-color);
              color: #ffffff;
            }
            > ul {
              padding: 9px 8px;
              margin: 9px 8px 6px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              border-radius: 3px;
              max-height: 400px;
              overflow: auto;
              > li {
                display: flex;
                margin-bottom: 8px;
                line-height: 1.4em;
                > input[type="checkbox"] {
                  margin-top: 1px;
                  margin-right: 6px;
                }
              }
            }
            > .toggleAllButton {
              display: flex;
              justify-content: center;
              padding: 0 8px;
              margin-bottom: 9px;
              > button.selectAll,
              > button.clear {
                @include button;
                padding: 3px 10px;
                &:first-of-type {
                  margin-right: 4px;
                  width: 60%;
                }
                &:last-of-type {
                  width: 40%;
                }
              }
            }
          }
        }
        > .textSearchByColumnWrapper {
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          background: #ffffff;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          > p.title {
            display: block;
            padding: 6px 16px;
            background-color: var(--thead-font-color);
            color: #ffffff;
          }
          > .textSearchWrapper {
            padding: 26px 40px 26px 20px;
            > input[name="queryInputByColumn"] {
              margin-right: 4px;
            }
          }
          #slider {
            margin: 60px 40px 10px;
            width: 230px;
            .slider-connect {
              background-color: var(--thead-font-color);
            }
          }

          .slider-horizontal {
            .slider-handle {
              width: 12px;
              height: 12px;
              top: -4px;
              right: -6px;
              .slider-tooltip {
                border: 1px solid var(--thead-font-color);
                background: var(--thead-font-color);
                padding: 0 6px;
                line-height: 1.4em;
                bottom: 20px;
              }
            }
          }

          .rangeInput {
            width: 242px;
            margin: 0 34px 30px;
            display: flex;
            justify-content: space-between;
            > form {
              width: 20%;
              input[type="text"] {
                width: 100%;
              }
            }
          }
        }
        &:last-of-type {
          > .filterWrapper {
            > div.filterWindow {
              left: auto;
              right: 11px;
            }
          }
        }
      }
      .icon {
        cursor: pointer;
        content: "";
        display: inline-block;
        width: 10px;
        height: 13px;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: -2px;
        background-size: 8px 8px;
        &.searchIcon {
          display: var(--searchicon-display);
          margin-left: 1px;
          background-image: url(https://raw.githubusercontent.com/togostanza/metastanza/master/assets/gray-search.svg);
          &.active {
            background-image: url(https://raw.githubusercontent.com/togostanza/metastanza/master/assets/gray-search-active.svg);
          }
        }
        &.filterIcon {
          display: var(--filtericon-display);
          background-image: url(https://raw.githubusercontent.com/togostanza/metastanza/master/assets/gray-filter.svg);
          &.active {
            background-image: url(https://raw.githubusercontent.com/togostanza/metastanza/master/assets/gray-filter-active.svg);
          }
          &.isShowing {
            z-index: 3;
            position: relative;
            background-color: var(--thead-font-color);
            background-image: url(https://raw.githubusercontent.com/togostanza/metastanza/master/assets/white-filter.svg);
          }
        }
        &.sortIcon {
          display: var(--sorticon-display);
          background-image: url(https://raw.githubusercontent.com/togostanza/metastanza/master/assets/gray-sort.svg);
          &.desc {
            background-image: url(../../assets/gray-sort-des.svg);
          }
          &.asc {
            background-image: url(../../assets/gray-sort-asc.svg);
          }
        }
      }
    }
  }
  > tbody {
    font-size: var(--tbody-font-size);
    color: var(--tbody-font-color);
    background-color: var(--tbody-background-color);
    border-right: var(--tbody-border-right);
    border-bottom: var(--tbody-border-bottom);
    border-left: var(--tbody-border-left);
    > tr {
      &:nth-child(odd) {
        background-color: var(--tbody-odd-background-color);
      }
      &:nth-child(even) {
        background-color: var(--tbody-even-background-color);
      }
      > td {
        border-bottom: var(--ruled-line);
        border-collapse: collapse;
        padding: 10px;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
      }
      &:last-of-type {
        > td {
          border-bottom: none;
        }
      }
    }
  }
}

// transition
.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  margin-top: -20px;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s, margin-top 0.4s;
}

.modal_bg-enter-from,
.modal_bg-leave-to {
  opacity: 0;
}

.modal_bg-enter-active,
.modal_bg-leave-active {
  transition: opacity 0.4s;
}
