// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

p.greeting {
  margin: 0;
  font-size: 24px;
  color: var(--greeting-color);
  text-align: var(--greeting-align);
}

g.series_0 {
    fill: var(--series-0-color);
}
g.series_1 {
    fill: var(--series-1-color);
}
g.series_2 {
    fill: var(--series-2-color);
}
g.series_3 {
    fill: var(--series-3-color);
}
g.series_4 {
    fill: var(--series-4-color);
}
g.series_5 {
    fill: var(--series-5-color);
}
