// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
// @use '@/common.scss';

.chart-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

svg#dl_button {
  position: absolute;
  &.dl-top-left {
    top: 0px;
    left: 0px;
  }
  &.dl-top-right {
    top: 0px;
    right: 0px;
  }
  &.dl-bottom-left {
    bottom: 0px;
    left: 0px;
  }
  &.dl-bottom-right {
    bottom: 0px;
    right: 0px;
  }
  &.dl-none {
    display: none;
  }
  .circle_g {
    cursor: pointer;
    opacity: 0.5;
  }
  .hover {
    opacity: 1;
  }
}

div#dl_list {
  width: fit-content;
  position: absolute;
  top: 35px;
  right: 6px;
  border: solid 1px #333333;
  background-color: #ffffff;
  font-size: 12px;
  font-family: var(--font-family);
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      cursor: pointer;
      padding: 0px 10px 0px 10px;
      &.hover {
        background-color: #dddddd;
      }
    }
  }
}
