// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

.group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-wrapper {
  position: relative;
  .scorecard-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//dl button style
svg#dl_button {
  position: absolute;
  &.dl-top-left {
    top: 0px;
    left: 0px;
  }
  &.dl-top-right {
    top: 0px;
    right: 0px;
  }
  &.dl-bottom-left {
    bottom: 0px;
    left: 0px;
  }
  &.dl-bottom-right {
    bottom: 0px;
    right: 0px;
  }
  &.dl-none {
    display: none;
  }
  .circle_g {
    cursor: pointer;
    opacity: 0.5;
  }
  .hover {
    opacity: 1;
  }
}

div#dl_list {
  width: fit-content;
  position: absolute;
  border: solid 1px #444444;
  background-color: #ffffff;
  font-size: 12px;
  font-family: var(--font-family);
  &.dl-top-left {
    top: 20px;
    left: 10px;
  }
  &.dl-top-right {
    top: 20px;
    right: 10px;
  }
  &.dl-bottom-left {
    bottom: 20px;
    left: 10px;
  }
  &.dl-bottom-right {
    bottom: 20px;
    right: 10px;
  }
  &.dl-none {
    display: none;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      cursor: pointer;
      padding: 0px 10px 0px 10px;
      &.hover {
        background-color: #dddddd;
      }
    }
  }
}
