// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

// The following is just an example. Feel free to modify it.
// --greeting-color and --greeting-align are style variables, which are defined in metadata.json.
main {
  padding: 1rem 2rem;
}

.breadcrumb-node {
  display: inline-flex;
  align-items: center;
  height: 15px;
  // margin-right: 5px;
  background-color: #a7a7a7;
  padding: 0 5px;

  &:last-child {
    margin-right: 0;
  }
  .node-label {
    display: inline-block;
    font-size: 10px;
    margin-right: 0.1em;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  .node-dropdown {
    display: inline-block;
    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    cursor: pointer;
    transform: scaleX(0.7);
    margin-right: 0.5em;
    &:hover {
      opacity: 0.7;
    }
  }
  .node-forward {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px black solid;

    //transform-origin: center;
    //transform: scaleY(0.8) rotate(-45deg);
  }
}

.node-dropdown-menu {
  position: relative;
  display: block;
  left: 0;
  background-color: rgb(161, 161, 161);

  &-item {
    display: block;
    text-align: left;

    span {
      font-size: 8px;
      //display: inline-block;
      margin-left: 10px;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
