// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  padding: 1rem 2rem;
}

#breadcrumbs {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#app-breadcrumbs {
  overflow-x: scroll;
  overflow-y: hidden;
  display: inline-flex;
  &::after {
    content: "";

    height: 100%;
    width: 1rem;

    right: 0;

    position: absolute;

    /* background-color: #e0e0e1; */
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

#app-copy-button {
  cursor: pointer;
  display: inline-flex;
  background-color: #f9f9fa;
  border: 1px solid #e0e0e1;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  font-size: 10px;
  > svg.copy-icon {
    height: 0.75rem;
  }
  &:hover {
    color: #f9f9fa;
    background-color: #396c7e;
    > svg.copy-icon {
      fill: #f9f9fa;
    }
  }
}

svg {
  cursor: pointer;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.breadcrumb > svg:hover {
  path {
    fill: #396c7e;
  }
  text {
    fill: #f9f9fa;
  }
  svg path {
    fill: #f9f9fa;
  }
}

.breadcrumb-path {
  stroke: #e0e0e1;
  stroke-width: 1px;
  fill: #f9f9fa;
}

.breadcrumb-path-hover {
  fill: #396c7e;
}
.breadcrumb-label-hover {
  fill: #f9f9fa;
}

.breadcrumb-menu-container {
  cursor: pointer;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: calc(100% - 1px);
  z-index: 999;
  // left: 0;
  // top: 0;
}

.menu-triangle {
  width: 10px;
  height: 10px;
  margin-top: 5px;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  background-color: #f9f9fa;
  border: 1px solid #e0e0e1;
  z-index: -1;
}

.menu-triangle-overlay {
  margin-top: 6px;
  z-index: 1;
  border: none;
}

.breadcrumb-menu {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9fa;
  border: 1px solid #e0e0e1;
  border-radius: 5px;
  max-height: 20rem;
  overflow-y: scroll;
  padding: 0.5em;
}

.breadcrumb-menu-item {
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  padding: 0.5em;
}

.breadcrumb-menu-item:hover {
  color: #f9f9fa;
  background-color: #396c7e;
}
