// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use "@/common.scss";

main {
  font-family: var(--togostanza-fonts-font_family);
}

svg {
  background-color: var(--togostanza-theme-background_color);

  .link {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
  }
  text {
    font-size: calc(var(--togostanza-fonts-font_size_secondary) * 1px);
  }
  circle {
    stroke: var(--togostanza-border-color);
    stroke-width: calc(var(--togostanza-border-width) * 1px);
  }
}
