// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

main {
  padding: 1rem 2rem;
  font-family: var(--togostanza-font-family);
  font-size: var(--togostanza-font-size);
  color: var(--togostanza-font-color);
}

#wrapper {
  .value {
    flex-grow: 1;
    text-align: right;
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
  }
  .icon {
    width: calc(var(--togostanza-font-size) * 0.6);
  }
  > .search-container {
    margin-bottom: 1rem;
    > input {
      position: relative;
      margin-right: 1rem;
      width: 190px;
      height: 20px;
      border: solid 1px var(--togostanza-control-border-color);
      border-radius: var(--togostanza-column-border-radius);
    }
    > .suggestions {
      margin: 0;
      padding: 0;
      min-height: fit-content;
      max-height: 80%;
      overflow: auto;
      position: absolute;
      border: solid 1px var(--togostanza-control-border-color);
      border-radius: var(--togostanza-column-border-radius);
      background-color: white;
      z-index: 1;
      > li {
        display: grid;
        padding: 0.8rem 1rem;
        list-style-type: none;
        border-bottom: var(--togostanza-column-border);
        > .label {
          > .title {
            display: flex;
            align-items: center;
          }
        }
        &:hover {
          background-color: var(--togostanza-hover-background-color);
          cursor: pointer;
        }
      }
    }
  }
  > .tree {
    display: flex;
    gap: var(--togostanza-column-gap);
    > .column {
      background-color: var(--togostanza-column-background-color);
      min-width: max-content;
      height: fit-content;
      border: var(--togostanza-column-border);
      border-radius: var(--togostanza-column-border-radius);
      > .node {
        position: relative;
        display: grid;
        grid-template-columns: 1.5rem auto 1.5rem;
        align-items: center;
        border-radius: var(--togostanza-node-border-radius);
        padding: var(--togostanza-node-padding);
        > .content {
          > .label {
            display: flex;
            &.-horizontal {
              width: 100%;
              flex-direction: row;
              gap: 1rem;
            }
            &.-vertical {
              margin-left: 0.5rem;
              flex-direction: column;
              > .value {
                text-align: left;
              }
            }
            > strong {
              display: flex;
              align-items: center;
              gap: 0.3rem;
            }
          }
        }
        > .icon {
          align-self: center;
          justify-self: flex-end;
        }
        > input[type="checkbox"] {
          &:hover {
            cursor: pointer;
          }
        }
        &.-with-border {
          &:after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            top: 0;
            left: 0;
            border-top: var(--togostanza-column-border);
          }
        }
        &:first-child {
          &.-with-border:after {
            border-top: none;
          }
        }
        &.-highlighted {
          background-color: var(--togostanza-selected-background-color);
          color: var(--togostanza-selected-text-color);
          > svg > path {
            color: var(--togostanza-selected-text-color);
          }
        }
        &:hover {
          background-color: var(--togostanza-hover-background-color);
          color: var(--togostanza-hover-text-color);
          cursor: pointer;
          > .content {
            > svg > path {
              color: var(--togostanza-hover-text-color) !important;
            }
            > .label {
              > .title > svg > path:hover {
                color: var(--togostanza-selected-background-color);
              }
            }
          }
        }
      }
    }
  }
}
