// Load the repository-wide global style here. The actual file is located at ../common.scss for details.
@use '@/common.scss';

main {
  padding: 1rem 2rem;
  font-family: var(--togostanza-font-family);
  font-size: var(--togostanza-font-size);
  color: var(--togostanza-font-color);
}

  // position: fixed
  //   margin-left: 1rem
  //   background-color: white
  //   z-index: 3
  //   width: max-content
  //   min-width: 40rem
  //   max-width: 60vw
  //   max-height: 30vh
  //   overflow-y: auto
  //   overflow-x: hidden
  //   box-shadow: var(--shadow-component)
  //   border: solid 1px var(--color-key1)
  //   border-radius: var(--radius-panel)
  //   > li, p
  //     padding: 0 .4rem
  //   > li
  //     &:nth-child(2) > div
  //       border-top: none
  //     &:hover
  //       background-color: var(--color-hover)
  //       cursor: pointer
  //     &.-disabled
  //       cursor: default
  //       &:hover
  //         background-color: transparent
#wrapper {
  .value {
    margin-left: 1rem;
    font-weight: normal;
    font-style: italic;
    opacity: 0.8;
  }
  > .search-container{
    margin-bottom: 1rem;
    > input{
      position: relative;
      margin-right: 3px;
      width: 164px;
      height: 20px;
      border: solid 1px var(--togostanza-control-border-color);
      border-radius: var(--togostanza-column-border-radius);
    }
    > .suggestions {
      margin: 0;
      padding: 0;
      min-height: fit-content;
      max-height: 80%;
      overflow: auto;
      position: absolute;
      border: solid 1px var(--togostanza-control-border-color);
      border-radius: var(--togostanza-column-border-radius);
      background-color: white;
      z-index: 1;
      > li {
        display: grid;
        padding: 0.8rem 1rem;
        list-style-type: none;
        border-bottom: var(--togostanza-column-border);
        > .label{
          font-weight: bold;
        }
        &:hover{
          background-color: var(--togostanza-hover-background-color);
          cursor: pointer;
        }
      }
    }
  }
  > .tree {
    display: flex;
    > .column {
      display: flex;
      background-color: var(--togostanza-column-background-color);
      margin-right: var(--togostanza-column-gap);
      display: grid;
      min-width: max-content;
      height: fit-content;
      border: var(--togostanza-column-border);
      border-radius: var(--togostanza-column-border-radius);
      > .node {
        display: flex;
        justify-content: space-between;
        border-radius: var(--togostanza-node-border-radius);
        padding: var(--togostanza-node-padding);
        &.-highlighted {
          background-color: var(--togostanza-selected-background-color);
          color: var(--togostanza-selected-text-color);
          > svg > path {
            color: var(--togostanza-selected-text-color);
          }
        }
        &:hover {
          background-color: var(--togostanza-hover-background-color) !important;
          color: var(--togostanza-hover-text-color) !important;
          cursor: pointer;
          > svg > path {
            color: var(--togostanza-hover-text-color);
          }
        }
        > input[type="checkbox"] {
          margin-right: 1rem;
          &:hover {
            cursor: pointer;
          }
        }
        > .content {
          display: flex;
          width: 100%;
          justify-content: space-between;
          > .label{
            display: grid;
            font-weight: bold;
            // > .value {
            //   margin-left: 1rem;
            //   font-weight: normal;
            //   font-style: italic;
            //   opacity: 0.8;
            // }
          }
          > .icon {
            width: calc(var(--togostanza-font-size) * 0.6);
            padding-left: 2rem;
          }
        }
      }
    }
  }
}
