  <div class="container">
    <div class="infomation">
      <form class="search-form" action="#">
        <input class="search-box" type="text" placeholder="Serch for keywords...">
        <button class="search-btn" type="submit">
          <img src="https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/white-search1.svg" alt="search">
        </button>
      </form>
      <a class="dl-btn" href="#" download="#"><img src="https://raw.githubusercontent.com/c-nakashima/metastanza/master/assets/grey-download1.svg" alt=""></a>
    </div>
    <table>
      <thead>
        <tr>
          <td class="stack">Original source<span class="icon filter-icon"></span><span class="icon sort-icon"></span></td>
          <td>Organism name<span class="icon filter-icon"></span><span class="icon sort-icon"></span></td>
          <td>Taxonomy ID<span class="icon filter-icon"></span><span class="icon sort-icon"></span></td>
          <td>Isolation<span class="icon filter-icon"></span><span class="icon sort-icon"></span></td>
          <td>Environments<span class="icon filter-icon"></span><span class="icon sort-icon"></span></td>
        </tr>    
      </thead>
      <tbody>
        <tr>
          <td class="stack" rowspan="2">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <!-- <td class="stack">NBRC 14436</td> -->
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <td class="stack">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <td class="stack">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <td class="stack">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <td class="stack">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <td class="stack">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
        <tr>
          <td class="stack">NBRC 14436</td>
          <td>"Thermoanaerobacter cellulolyticus" Taya et al.</td>
          <td>NBRC 14436</td>
          <td>Hot spring sediments in Nozawa, Japan</td>
          <td>hot spring,  spring sediment</td>
        </tr>
      </tbody>
    </table>
    <div id="pagenation">
      <ul>
        <li class="first-btn"><span></span><span></span></li>
        <li class="previous-btn"><span></span></li>
        <li class="current-btn">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>…</li>
        <li>10</li>
        <li class="next-btn"><span></span></li>
        <li class="last-btn"><span></span><span></span></li>
      </ul>
    </div>
    <p class="show-info">Showing 1 to 10 of 44 entres</p>
  </div>